<!-- START HEADING -->
<div id="heading">
	<h1>{{ product.title | escape }}</h1>
	<h2 id="price"><span>{{ product.price | money }}</span>{% if product.compare_at_price_max > product.price %} <del>{{ product.compare_at_price_max | money }}</del>{% endif %}</h2>
</div>
<!-- END HEADING -->
<!-- START SUMMARY -->
<div id="summary" class="clear">
	<!-- START DETAILS -->
	<div id="details">
		{{ product.description }}
	</div>
	<!-- END DETAILS -->
	<!-- START IMAGE -->
	<div id="image" class="clear">
		<img src="{{ product.images[0] | product_img_url: "medium" }}" alt="{{ product.title | escape }}" />
	</div>
	<!-- END IMAGE -->
</div>
<!-- END SUMMARY -->
<!-- START OPTIONS -->
<div id="options">
	<form method="post" action="/cart/add" class="clear">{% if product.available %}{% if product.variants.size > 1 %}
		<!-- START VARIANTS -->
		<div id="variants">
			<select name="id" id="id">{% for variant in product.variants %}{% if variant.available %}
				<option value="{{ variant.id }}">{{ variant.title | escape }}</option>{% else %}
				<option value="{{ variant.id }}" disabled="disabled">{{ variant.title | escape }} - SOLD OUT</option>{% endif %}{% endfor %}
			</select>
		</div>
		<!-- END VARIANTS -->{% else %}{% for variant in product.variants %}
		<input type="hidden" name="id" value="{{ variant.id }}" />{% endfor %}{% endif %}
		<!-- START BUY -->
		<div id="buy">
			<input type="image" src="{{ settings.add_image | asset_url }}" alt="Add to Cart" id="add" />
		</div>
		<!-- END BUY -->{% else %}
		<h6>Sold Out</h6>{% endif %}
	</form>
</div>
<!-- END OPTIONS -->{% if product.images.size > 0 %}
<!-- START IMAGES -->
<div id="images">
	<h6>Product Images <span>(click to enlarge)</span></h6>
	<ul class="clear">{% for image in product.images %}
		<!-- START IMAGE -->
		<li{% cycle '', '', ' class="end"' %}>
			<div class="align">
				<div><a href="{{ image | product_img_url: "large" }}" rel="lightbox-images"><img src="{{ image | product_img_url: "compact" }}" alt="{{ product.title | escape }}" /></a></div>
			</div>
		</li>
		<!-- END IMAGE -->{% endfor %}
	</ul>
</div>
<!-- END IMAGES -->{% endif %}