<div class="article">
  <div>
    <p class="user"></p>
		<h2><a href="{{ article.url }}">{{ article.title }}</a></h2>
    <p class="note">by {{ article.author }} on {{ article.created_at | date: "%B %d, %Y" }}</p>
		<div class="textile">
		  {{ article.content }}
		</div>
  </div>
  
	<div class="blog-details">
    {% if blog.comments_enabled? %}
      <p class="comments"><a href="#comments">comments ({{ article.comments_count }})</a></p>
    {% endif %}
	</div>
</div>

{% if blog.comments_enabled? %}
<div id="comments">
  <h3>Comments</h3>
  <!-- List all comments -->

  {% if article.comments == empty %}
    <p class="box"><em>There are no comments yet</em></p>
  {% else %}
    <ul class="inner">
    {% for comment in article.comments %}
      <li>
        <div class="comment">
          {{ comment.content }}
        </div>
      
    	  <div class="comment-details">
    		  Posted by {{ comment.author }} on {{ comment.created_at | date: "%B %d, %Y" }}
        </div>
    	</li>
    {% endfor %}
    </ul>
  {% endif %}
  
  <!-- Comment Form -->
  {% form article %}
    <h3>Leave a comment</h3>
    
    <!-- Check if a comment has been submitted in the last request, and if yes display an appropriate message -->
    {% if form.posted_successfully? %}
      {% if blog.moderated? %}
        <div class="box">
          Successfully posted your comment.<br />
          It will have to be approved by the blog owner first before showing up.
        </div>
      {% else %}
        <div class="notice">Successfully posted your comment.</div>
      {% endif %}
    {% endif %}
    
    {% if form.errors %}
      <div class="notice error">Not all the fields have been filled out correctly!</div>
    {% endif %}
    
    <table>
      <tr>
        <td>
          <dl>
            <dt class="{% if form.errors contains 'author' %}error{% endif %}"><label for="comment_author">Your name</label></dt>
            <dd><input type="text" id="comment_author" name="name" value="{{form.name}}" class="{% if form.errors contains 'name' %}input-error{% endif %}" /></dd>

            <dt class="{% if form.errors contains 'email' %}error{% endif %}"><label for="comment_email">Your email</label></dt>
            <dd><input type="text" id="comment_email" name="email" value="{{form.email}}" class="{% if form.errors contains 'email' %}input-error{% endif %}" /></dd>
          </dl>
        </td>
        <td>
          <dl>
            <dt class="{% if form.errors contains 'body' %}error{% endif %}"><label for="comment_body">Your comment</label></dt>
            <dd><textarea id="comment_body" name="body" cols="32" rows="4" class="{% if form.errors contains 'body' %}input-error{% endif %}">{{form.body}}</textarea></dd>
          </dl>
        </td>
      </tr>
    </table>
    
    {% if blog.moderated? %}
      <p class="hint alt">comments have to be approved before showing up</p>
    {% endif %}    
    <div id="submit">
      <input type="submit" value="Post comment" />
    </div>
  {% endform %}
</div>
{% endif %}